body {
  background-color: #EAD7BB;
}

.title {
  border: solid 1px lightblue;
  text-align: center;
}

.section1 {
 text-align: center; 
}

footer {
  font-size: small;
}

.availability {
  width: 100%;
  background-color: darkgrey;
  color: yellow;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 50px 50px;
}
